<!DOCTYPE html>
a {
    color: white; 
text-decoration: none;
  margin: 0 5px;
}
* {
    color: white; 
}
body {
    background-color: black; 
    margin: 0;
  padding: 0;
  text-align: center;
}


.corner-link {
    position: absolute;
    bottom: 50px;
    right: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.corner-link:hover {
    background-color: #45a049;
}

.container {
  width: 100%;
  text-align: center;
  margin-top: 20px; /* adjust spacing from the very top */
}

